.content {
  height: 100vh;
  display: flex;
}

.content-title {
  position: relative;
}

.arrow-up {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 40px;
  &:hover {
    cursor: pointer;
  }
}

.block-title {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-content {
  max-height: 100%;
  overflow: scroll;
}

.content-avatar {
  border-radius: 50%;
  width: 200px;
}

.content-text {
  padding: 30px;
}
