.content {
  height: 100vh;
}

.content-title {
  position: relative;
}

.arrow-up {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 40px;
  &:hover {
    cursor: pointer;
  }
}

.content-avatar {
  border-radius: 50%;
  width: 200px;
}
