#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contact-content {
  flex: 1 0 auto;
  background-image: image-url('test.jpg');
  background-size: cover;
  background-position: bottom;
  display: flex;
}
