html, body {
  height: 100%;
  width: 100%;
  background-color: white;
}

body::after{
    position: absolute;
    width:0;
    height:0;
    overflow:hidden;
    z-index:-1;
    content: image-url('about-bg.jpg') image-url("blur-about-bg.jpg") image-url("contact-bg.jpg") image-url("skills-bg.jpg");
}

#header {
  height: 100vh;
  display: flex;
  background-image: image-url('home-bg.jpg');
  background-size: cover;
  background-position: right;
  h1 {
    color: white;
  }
}

#title {
  display: none;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 750px) {
  #header {
    flex-direction: column;
  }
}
