html, body {
  height: 100%;
  width: 100%;
  background-color: white;
}

body::after{
    position: absolute;
    width:0;
    height:0;
    overflow:hidden;
    z-index:-1;
    content: image-url('about-bg.jpg') image-url("blur-about-bg.jpg") image-url("contact-bg.jpg") image-url("skills-bg.jpg");
}

#header {
  height: 100vh;
  display: flex;
  background-image: image-url('home-bg.jpg');
  background-size: cover;
  background-position: right;
  h1 {
    color: white;
  }
}

.fa-linkedin-square {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #22333B;
  &:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
}

#title {
  display: none;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 750px) {
  #header {
    flex-direction: column;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
