#skills {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.skills-content {
  flex: 1 0 auto;
  background-image: image-url('skills-bg.jpg');
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.skills-list {
  position: absolute;
  bottom: 15%;
  left: 30%;
}
