#skills {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.skills-content {
  flex: 1 0 auto;
  background-image: image-url('skills-bg.png');
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.skills-list {
  position: absolute;
  bottom: 5%;
  left: 12%;
  svg {
    height: 50vh;
    width: 50vw;
  }
}

@media (max-width: 420px) {
  .skills-list {
    bottom: 0%;
    left: 5%;
    svg {
      height: 60vh;
      width: 65vw;
    }
  }
}
