#work {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.work-content {
  flex: 1 0 auto;
  background-image: image-url('work-bg.png');
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.macbook {
  background-image: image-url('wrapper.png');
  // background-color: #F4E0E0;
  border-radius: 5px;
  margin: 10vh auto;
}
