#work {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.work-content {
  flex: 1 0 auto;
  background-image: image-url('skills-bg.jpg');
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works {
  position: relative;
  height: 327px;
  width: 567px;
  margin: 30px auto;
  img {
    max-width:100%;
    max-height:100%;
  }
}

#magazine{
  height: 500px;
  width: 750px;
  .page{
    background-color:white;
    line-height:300px;
    font-size:20px;
    text-align:center;
    box-shadow:0 0 20px rgba(0,0,0,0.2);
  }
  .even {
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
  }
  .odd {
    background-image:linear-gradient(right, #fff 95%, #cacaca 100%);
  }
}



