<div id="about" class="block">
  <div class="block-left">
    <h1 class="block-title">About</h1>
    <%= image_tag "avatar", class: "block-avatar" %>
  </div>
  <div class="block-right">
    <p>
      Fullstack developer based in Paris, I am open to any remote project. I develop web applications on the framework Rails in Ruby, HTML, CSS and Javascript.
    </p>
    <p>
      After getting a master's degree in Marketing at KEDGE Business School specialized in digital marketing and entrepreneurship, I learned to code at Le Wagon where I am currently Teacher Assistant.
    </p>
    <p>
      I am also the co-founder of Timzy, a SAAS connected to Google Analytics to track the actions (development, marketing, communication...) of your team and see their performance on your website.
    </p>
    <p>
      Do not hesitate to contact me to develop your web project, from showcase websites to MVP and more complex web applications.
    </p>
    <p>
      Have a good day and see you soon !
    </p>
  </div>
</div>
