<div id="about">
  <div class="content-title text-center">
    <h2>ABOUT</h2>
  </div>
  <div class="container">
    <div class="content-image text-center">
      <%= image_tag "avatar.jpg", class: "content-avatar" %>
    </div>
    <div class="content-text text-center">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, fugiat. Fuga illum repudiandae, veritatis deleniti assumenda perferendis doloremque ea ratione, modi, ipsam facere perspiciatis, fugiat. Incidunt ab minus officia voluptatem.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, fugiat. Fuga illum repudiandae, veritatis deleniti assumenda perferendis doloremque ea ratione, modi, ipsam facere perspiciatis, fugiat. Incidunt ab minus officia voluptatem.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, fugiat. Fuga illum repudiandae, veritatis deleniti assumenda perferendis doloremque ea ratione, modi, ipsam facere perspiciatis, fugiat. Incidunt ab minus officia voluptatem.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, fugiat. Fuga illum repudiandae, veritatis deleniti assumenda perferendis doloremque ea ratione, modi, ipsam facere perspiciatis, fugiat. Incidunt ab minus officia voluptatem.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, fugiat. Fuga illum repudiandae, veritatis deleniti assumenda perferendis doloremque ea ratione, modi, ipsam facere perspiciatis, fugiat. Incidunt ab minus officia voluptatem.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, fugiat. Fuga illum repudiandae, veritatis deleniti assumenda perferendis doloremque ea ratione, modi, ipsam facere perspiciatis, fugiat. Incidunt ab minus officia voluptatem.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, fugiat. Fuga illum repudiandae, veritatis deleniti assumenda perferendis doloremque ea ratione, modi, ipsam facere perspiciatis, fugiat. Incidunt ab minus officia voluptatem.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, fugiat. Fuga illum repudiandae, veritatis deleniti assumenda perferendis doloremque ea ratione, modi, ipsam facere perspiciatis, fugiat. Incidunt ab minus officia voluptatem.</p>
    </div>
  </div>
</div>
