<div id="about">
  <div class="content-title text-center">
    <h2>ABOUT</h2>
    <i class="fa fa-chevron-up arrow-up" aria-hidden="true"></i>
  </div>
  <div class="about-content">
    <div class="type-action text-center">
      <i class="fa fa-keyboard-o fa-5x" aria-hidden="true"></i>
      <h3>TYPE TO REVEAL MY STORY</h3>
    </div>
    <div class="about-text text-center">
      <p id="about-paragraph">
        Hello, my name is César and I'm a web developer !
        Apart from code, I'm passionate about aviation and have my private pilot licence. This passion led me to being a travel enthusiast always looking beyond boundaries !
        I have the same opinion about web development in the sense that you can always push the limits and get further as long as you are curious !
        I'm open to any web project, from showcase websites to MVP and more complex web applications !
        Thanks for helping me write my story, let me help you write YOURS now !
      </p>
    </div>
  </div>
</div>
