<div id="about">
  <div class="content-title text-center">
    <h2>ABOUT</h2>
    <i class="fa fa-chevron-up arrow-up" aria-hidden="true"></i>
  </div>
  <div class="about-content">
    <i class="fa fa-keyboard-o fa-5x" aria-hidden="true"></i>
    <div class="about-text">
      <p id="about-paragraph">
        Hello, my name is César and I'm a web developer !
        (Apart from code of course) I'm passionate about aviation and have my private pilot licence. This passion led me to being a travel enthusiast always looking beyond boundaries.
        I have the same opinion about web development where you can always push the limits and get further in your knowledge and skills.
        Now that you helped me write my story, let me help you write YOURS !
      </p>
    </div>
  </div>
</div>
