<div id="contact">
  <div class="content-title text-center">
    <h2>CONTACT ME</h2>
    <i class="fa fa-chevron-up arrow-up" aria-hidden="true"></i>
  </div>
  <div class="contact-content">
    <div class="form-wrapper">
      <form class="contact-form" action="//flipmail.co/api/kTCdwpqYE8iF4Rm9EkPn" method="post">
        <div class="form-group">
          <input class="form-control" type="text" name="name" placeholder="Your name">
        </div>
        <div class="form-group">
          <input class="form-control" type="email" name="_replyto" placeholder="Your email">
        </div>
        <input type="hidden" name="_valid[email]" value="valid_email">
        <div class="form-group">
          <textarea class="form-control" name="body" placeholder="Your message"></textarea>
        </div>
        <input type="hidden" name="_valid[body]" value="required">
        <input type="text" name="_honey" value="" style="display:none">
        <input type="hidden" name="_confirmation" value="<b>Thank you!</b> We have received your message and will get back to you asap.">
        <input class="btn btn-primary" type="submit" value="Send">
      </form>
    </div>
  </div>
</div>
