<div id="contact">
  <div class="content-title text-center">
    <h2>CONTACT ME</h2>
    <i class="fa fa-chevron-up arrow-up" aria-hidden="true"></i>
  </div>
  <div class="contact-content">

  </div>
</div>
