<div id="skills">
  <div class="content-title text-center">
    <h2>MY SKILLS</h2>
  </div>
  <div class="skills-content">
    <div class="skills-list hidden">
      <%= inline_svg "skills.svg" %>
    </div>
  </div>
</div>
