<div id="work">
  <div class="content-title text-center">
    <h2>MY WORK</h2>
    <i class="fa fa-chevron-up arrow-up" aria-hidden="true"></i>
  </div>
  <div class="work-content">
    <div id="magazine">
      <div class="hard fixed"><h1>Cover</h1></div>
      <div class="hard"></div>
      <div>
        <div><h1>index</h1></div>
        <div id="work-timzy">

        </div>
        <div id="work-surfcamps">

        </div>
      </div>
      <div ><h1>Timzy</h1></div>
      <div><h1>Timzy</h1></div>
      <div ><h1>Surfcamps</h1></div>
      <div><h1>Surfcamps</h1></div>
    </div>
  </div>
</div>
