<div id="work">
  <div class="content-title text-center">
    <h2>MY WORK</h2>
    <i class="fa fa-chevron-up arrow-up" aria-hidden="true"></i>
  </div>
  <div class="work-content">
    <div id="magazine">
      <div><span class="text">Page 1</span></div>
      <div><span class="text">Page 2</span></div>
      <div><span class="text">Page 3</span></div>
    </div>
  </div>
</div>
