<div id="work">
  <div class="content-title text-center">
    <h2>MY WORK</h2>
    <i class="fa fa-chevron-up arrow-up" aria-hidden="true"></i>
  </div>
  <div class="work-content">
    <div class="device">
      <div class="works">
        <div><%= image_tag "carous" %></div>
        <div><%= image_tag "carous2" %></div>
      </div>
    </div>
  </div>
</div>
