<div id="work">
  <div class="content-title text-center">
    <h2>MY WORK</h2>
  </div>
  <div class="work-content">
    <div class="macbook">
      <%= inline_svg "skills.svg" %>
    </div>
  </div>
</div>
