#world {
  height: 100vh;
  width: 100%;
}

#Shape {
  fill: #6AA241;
  stroke: #6AA241;
}

#eurasia-africa {
  position: absolute;
  top: 190px;
  right: 210px;
  transform: scale(1.1);
  &:hover {
    transform: scale(1.2);
  }
}

#north-america {
  position: absolute;
  top: 180px;
  right: 850px;
  transform: scale(1.1);
  &:hover {
    transform: scale(1.2);
  }
}

#south-america {
  position: absolute;
  top: 370px;
  right: 810px;
  transform: scale(1.1);
  &:hover {
    transform: scale(1.2);
  }
}

#australia {
  position: absolute;
  top: 480px;
  right: 210px;
  transform: scale(1.2);
  &:hover {
    transform: scale(1.4);
  }
}
