.world {
  padding: 20px;
}

.shape {
  transform-origin: 50% 50%;
}

.continent {
  transition: transform .5s;
  transform-origin: 50% 50%;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
