.world {
  padding: 20px;
}

.shape {
  transform-origin: 50% 50%;
}

svg.world path {
  fill: transparent;
  stroke: #22333B;
  stroke-width: 3px;
}

.continent {
  transition: transform .5s;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

#north-america {
  transform-origin: 89px 106px;
}

#south-america {
  transform-origin: 182px 286px;
}

#eurasia-africa {
  transform-origin: 539px 92px;
}

#australia {
  transform-origin: 670px 325px;
  &:hover {
    transform: scale(1.2);
  }
}

.map-label {
  display: none;
  width: 100px;
  fill: black;
  transition: font-size .5s, transform .5s;
}

.label-hover {
  font-size: 25px;
  transform: translate(-10px);
}

.aus-label-hover {
  font-size: 25px;
  transform: translate(-15px, 5px);
}
